<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-animate.min.js"></script>
    <script src="./js/angular-aria.min.js"></script>
    <script src="./js/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="./js/angular-material.min.js"></script>

    <link rel="stylesheet" href="./js/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body ng-app="MyApp" ng-cloak style="width: 50%; margin: auto;">

<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2 flex md-truncate>Demo Sales Application</h2>
    </div>
</md-toolbar>

<md-content ng-controller="AppCtrl">

    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Please enter a quantity and click the "Add" button to put this in your
            shopping cart
        </md-subheader>

        <md-list-item class="md-3-line" ng-repeat="product in products">
            <div class="md-list-item-text" layout="column">
                <h3>{{product.name}}</h3>
                <p>$ {{product.price}}</p>
            </div>
            <div>
                <md-input-container>
                    <label>Quantity</label>
                    <input ng-model="product.qty">
                </md-input-container>
            </div>
            <i class="material-icons" ng-click="addToCart(product)">add_box</i>
        </md-list-item>

    </md-list>

    <!--<table border="2">-->
    <!--<th>-->
    <!--<td>Name</td>-->
    <!--<td>Price</td>-->
    <!--<td>Qty</td>-->
    <!--<td></td>-->
    <!--</th>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="product in products">-->
    <!--<td>{{product.name}}</td>-->
    <!--<td>$ {{product.price}}</td>-->
    <!--<td>-->
    <!--<input type="text" ng-model=product.qty>-->
    <!--</td>-->
    <!--<td>-->
    <!--<md-button class="md-raised md-primary" ng-click="addToCart(product)">Add</md-button>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <md-divider></md-divider>

    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Your Shopping Cart</md-subheader>

        <md-list-item class="md-3-line" ng-repeat="product in cart">
            <div class="md-list-item-text" layout="column">
                <h3>{{product.name}}</h3>
                <h4>{{product.qty}}</h4>
                <p>$ {{product.qty * product.price}}</p>
            </div>
        </md-list-item>

    </md-list>

    <!--<table border="2">-->
    <!--<th>-->
    <!--<td>Name</td>-->
    <!--<td>Qty</td>-->
    <!--<td>Amount</td>-->
    <!--</th>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="product in cart">-->
    <!--<td>{{product.name}}</td>-->
    <!--<td>{{product.qty}}</td>-->
    <!--<td>$ {{product.qty * product.price}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <md-divider></md-divider>

    Total Amount: {{total}}

    <md-divider></md-divider>

    Enter your name and email to place order.

    <md-input-container>
        <label>Name</label>
        <input ng-model="user.name">
    </md-input-container>

    <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="placeOrder()">Place Order</md-button>

    <md-divider></md-divider>

    <h1>{{order_text}}</h1>

</md-content>

<script src="./index.js"></script>

</body>
</html>